@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
  margin-bottom: 12px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 18px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #928e8e;
}

.header a {
  color: black;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.left-links, .right-links {
  display: flex;
  gap: 12px;
  padding: 0;
  margin: 0;
}

.footer {
  background-color: #eeeeee;
}

.content {
  margin: auto 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}